@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

.str {
  color: #789865;
}

.kwd {
  font-weight: 510;
  color: #cb6d1d;
}

.com {
  color: #85957b;
  font-style: italic;
}

.typ {
  color: #cb6d1d;
}

.lit {
  color: #6896ba;
}

.pun {
  color: #e0c46c;
}

.pln {
  color: #eee;
}

.tag {
  color: #8AC763;
}

pre.prettyprint {
  border-radius: 5px;
  border: 1px solid #888;
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}
.prettyprint {
    background: #212121;
}

li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8,li.L9 {
    background: #1b1b1b;
    color: #bababa;
    border-left: 1px solid #888;
    list-style-type: decimal-leading-zero;
    padding-left: 10px;
}

li.L1,li.L3,li.L5,li.L7,li.L9 {
    background: #171717;
}

.linenums li code {
  font-family: "Fira Code";
}

@media print
{
    .str
    {
        color: #060;
    }
    .kwd
    {
        color: #006;
        font-weight: bold;
    }
    .com
    {
        color: #600;
        font-style: italic;
    }
    .typ
    {
        color: #404;
        font-weight: bold;
    }
    .lit
    {
        color: #044;
    }
    .pun
    {
        color: #440;
    }
    .pln
    {
        color: #000;
    }
    .tag
    {
        color: #006;
        font-weight: bold;
    }
    .atn
    {
        color: #404;
    }
    .atv
    {
        color: #060;
    }
}
