body {
  background-color: #181818;
}

p, h1, h2, h3, h4, h5, h6, li {
  color: #fff;
}

a {
  color: #ff9900;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:active, a:focus {
  text-decoration: none;
}
