#layout-parent {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#layout-parent main header h1 {
  display: block;
  min-height: 50px;
  background: #262626;
  margin-bottom: 0;
  font-size: 35px;
  text-indent: 60px;
}

#layout-parent main #content {
  background: #1b1b1b;
  min-height: 800px;
  padding: 15px;
}

#layout-parent main footer {
  background: #262626;
  height: 30px;
  text-align: center;
  color: #fff;
}

#horizontal-nav {
  background: #222222;
  height: 48px;
  padding: 3px;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

#horizontal-nav li {
  float: right;
  margin-left: 3px;
  line-height: 40px;
}

#horizontal-nav li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background: #2b2b2b;
  border: 1px solid #fff;
  color: #fff;
}

#horizontal-nav li a:hover {
  background: #ff9900;
  color: #222222;
}

#horizontal-nav li a:active, #horizontal-nav li a:focus {
  text-decoration: none;
}

#horizontal-nav li .description {
  display: block;
  position: absolute;
  height: auto;
  width: 300px;
  margin-top: 5px;
  margin-left: -100px;
  padding: 2px;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  background: #222222;
  border: 1px solid #ff9900;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#horizontal-nav li .description p {
  color: #ff9900;
  line-height: 20px;
  margin: 0;
}

#horizontal-nav li:hover .description {
  opacity: 1;
  visibility: visible;
}

#sidebar {
  position: absolute;
  width: 300px;
  margin-left: -300px;
  top: 0;
}

#menu-button {
  width: 50px;
  height: 50px;
  background: #3c3c3c;
  padding: 14px 10px;
  margin-left: 300px;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#layout-parent.menu #menu-button {
  margin-left: 0;
  width: 350px;
}

#bar0, #bar1, #bar2 {
  width: 30px;
  height: 4px;
  background-color: #ff9900;
  margin-bottom: 5px;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#bar2 {
  margin-bottom: 0px;
}

#layout-parent.menu #bar0 {
  -webkit-transform: rotate(-45deg) translate(-6px, 7px);
  transform: rotate(-45deg) translate(-6px, 7px);
}

#layout-parent.menu #bar1 {
  opacity: 0;
}

#layout-parent.menu #bar2 {
  -webkit-transform: rotate(45deg) translate(-6px, -7px);
  transform: rotate(45deg) translate(-6px, -7px);
}

#vertical-nav {
  opacity: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  pointer-events: none;
  cursor: default;

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#layout-parent.menu #vertical-nav {
  opacity: 1;
  background: #262626;
  pointer-events: auto;
  cursor: auto;
}

#vertical-nav li {
  text-indent: 10px;
  line-height: 40px;
}

#vertical-nav li a {
  display: block;
  text-decoration: none;
  color: #ff9900;
}

#vertical-nav li .nav-category {
  display: block;
  margin: 0;
  text-decoration: none;
  background-color: #3c3c3c;
  color: #fff;
}

#vertical-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
}

#vertical-nav li a:active, #vertical-nav li a:focus {
  text-decoration: none;
}

#vertical-nav ul {
  width: 300px;
  padding: 0;
  margin: 0;
  border-left: 5px solid #3c3c3c;
  list-style: none;
}

#vertical-nav ul li {
  text-indent: 10px;
  line-height: 35px;
}

#vertical-nav ul li a {
  display: block;
  text-decoration: none;
  color: #ff9900;
}

#vertical-nav ul li a:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}

#vertical-nav ul li a:active, #vertical-nav ul li a:focus {
  text-decoration: none;
}

@media only screen and (max-width: 1400px) {
  #layout-parent main header h1 {
    font-size: 35px;
    text-align: center;
  }

  #horizontal-nav li .description {
    height: 0;
    width: 0;
    right: 2px;
    opacity: 1;
    visibility: hidden;

    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }

  #horizontal-nav li:hover .description {
    height: auto;
    width: 300px;
    visibility: visible;
  }

  #sidebar {
    margin-left: -300px;
  }

  #layout-parent.menu #sidebar {
    margin-left: 0;
    left: 0;
    width: 100%;
  }

  #vertical-nav ul {
    width: 100%;
  }

  #menu-button {
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }

  #layout-parent.menu #menu-button {
    width: 100%;
  }

  #vertical-nav {
    background: url('images/empty.png');
    padding-top: 50px;

    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
}
